<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link href="/css/bulma.css?v={rep}" rel="stylesheet">
    <style>
        .control .select select {
            width: 200px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .grid-item {
            width: 50%;
            padding: 10px;
        }
    </style>
</head>
<body>
{{block "navbar" .}}{{end}}
<div class="section">
    <div class="container mb-6">
        <div class="field is-grouped">
            <div class="control is-expanded">
                <input class="input" type="text" id="searchInput" placeholder="Search...">
            </div>
            <div class="control">
                <button class="button is-primary" onclick="toggleSortOrder()">
                    <span id="sortOrder">Ascending</span>
                </button>
            </div>
            <div class="control">
                <div class="select">
                    <select id="sortDropdown">
                        <option value="cd">Creation Date</option>
                    </select>
                </div>
            </div>

            <div class="control">
                <div class="select">
                    <select id="limitDropdown">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="all">All</option>
                    </select>
                </div>
            </div>
            <div class="control">
                <div class="select">
                    <select id="teacherDropdown">
                        <option value="0">None</option>
                        {{range .Teachers}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="control">
                <button class="button is-link" onclick="applyFilters()">Apply</button>
            </div>
            <div class="control">
                <a class="button is-primary" href="/createQuote">Create Quote</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item","percentPosition": true}'>
            {{range .Quotes}}
            {{block "quote" .}}{{end}}
            {{end}}
        </div>
    </div>
</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script>
    function getUrlParams() {
        const params = new URLSearchParams(window.location.search);
        return {
            search: params.get('search') || '',
            sort: params.get('sort') || 'cd',
            limit: params.get('limit') || '25',
            teacher: params.get('teacher') || '0',
            order: params.get('order') || 'asc'
        };
    }
    function populateFilters() {
        const params = getUrlParams();
        document.getElementById('searchInput').value = params.search;
        document.getElementById('sortDropdown').value = params.sort;
        document.getElementById('limitDropdown').value = params.limit;
        document.getElementById('teacherDropdown').value = params.teacher;
        sortOrder = params.order === 'asc' ? 'Ascending' : 'Descending';
        document.getElementById('sortOrder').textContent = sortOrder;
    }

    window.onload = populateFilters;
    let sortOrder = 'Ascending';

    function toggleSortOrder() {
        sortOrder = sortOrder === 'Ascending' ? 'Descending' : 'Ascending';
        document.getElementById('sortOrder').textContent = sortOrder;
    }
    function applyFilters() {
        const search = document.getElementById('searchInput').value;
        const sort = document.getElementById('sortDropdown').value;
        const limit = document.getElementById('limitDropdown').value;
        const teacher = document.getElementById('teacherDropdown').value;
        const order = sortOrder.toLowerCase() === 'ascending' ? 'asc' : 'desc';

        window.location.href = `?sort=${sort}&limit=${limit}&order=${order}&teacher=${teacher}&search=${encodeURIComponent(search)}`;
    }
    document.getElementById('searchInput').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            applyFilters()
        }
    });
</script>
</body>
</html>
