{{define "teacher"}}
<a class="column is-one-quarter" href="/quotes?teacher={{.ID}}">
    <div class="card">
        <div class="card-content has-text-centered">
            <div class="card-image is-centered">
                {{if .HasImage}}
                <img src="/api/v1/teacher/image/{{.ID}}.png" alt="Teacher's Picture">
                {{else}}
                <img src="/imgs/default_teacher.webp" alt="Teacher's Picture">
                {{end}}
            </div>
            <p class="is-bold is-5">{{.Title}} {{.Name}}</p>
            <p class="is-5">{{.ShortName}}</p>
            <p class="is-6 mt-0 pt-0">Quotes: {{.QuoteCount}}</p>
        </div>
    </div>
</a>
{{end}}
